/**
 * base.less
 */

body
{
  padding-top: 50px;

  .cm-body
  {
    padding-top: 2em;

    .pagination-container
    {
      position: absolute;
      top: 25em;

    } /* END .pagination-container */

  }/* END .cm-body */

  .error
  {
    color: red;
  }/* END .error */

  a{
    text-decoration: none;
  }

  a:link, a:hover, a:visited, a:active{
    cursor: pointer;
    text-decoration: none;
  }

  .media-body{
    .media-body-element{
      margin-bottom: 0.5em;
    }
  }

  .cm-container{

    .cm-body{
    }/* END cm-body */

    .cm-status{
      position:absolute;
      width: 80%;
      bottom: 2em;
    } /* END cm-status */
  } /* END cm-container */

} /* END body */

