<!-- body -->
<div class="cm-auth">
  <div class="container-fluid">
    <!-- START row -->
    <div class="row">
      <!-- START auth-login -->
      <div class="auth-login" ng-controller="cmAuthCtrl as ctrl">
        <!-- START auth-login-header -->
        <div class="auth-header auth-login-header col-xs-12 col-sm-6">
          <p class="auth-login-links">
              <a href="#/register">Register</a>
          </p>
          <h3 class="">Login</h3>
        </div>
        <!-- END auth-login-header -->

        <!-- START form-auth -->
        <form class="form-auth col-xs-12 col-sm-6"
              name="loginForm"
              ng-submit="ctrl.login(
                loginForm.username.$modelValue,
                loginForm.password.$modelValue)">
            <div class="form-group">
                <input autocapitalize="off"
                       ng-model="ctrl.loginForm.username"
                       ng-minlength="6"
                       type="text"
                       class="form-control"
                       name="username"
                       id="username"
                       placeholder="Username" required>
            </div>
            <div class="form-group">
                <input autocapitalize="off"
                       ng-model="ctrl.loginForm.password"
                       ng-minlength="6"
                       type="password"
                       class="form-control"
                       name="password"
                       id="password"
                       placeholder="Password" required>
            </div>
            <div class="form-group">
              <input type="submit" value="Submit" class="btn btn-default">
            </div>
            <!-- START form-auth errors -->
            <div ng-repeat="error in ctrl.formErrors">
              <span class="error">{{error}}</span>
            </div>
            <!-- END form-auth errors -->
        </form><!-- END form-auth -->
      </div>
      <!-- END auth-login  -->
    </div>
    <!-- END row -->
  </div> <!-- END container -->
</div>
