<!-- body -->
<div class="cm-auth cm-login">
    <div class="container-fluid">
        <!-- START row -->
        <div class="row">
            <!-- START auth-recover -->
            <div class="auth-register">
                <!-- START auth-register-header -->
                <div class="auth-header auth-login-header col-xs-12 col-sm-6">
                    <p class="auth-login-links">
                        <a href="#/register">Register</a>
                    </p>
                    <h3 class="">Login</h3>
                </div>
                <!-- END auth-register-header -->

                <!-- START form-auth -->
                <form class="form-auth col-xs-12 col-sm-6">
                    <div class="form-group">
                        <input autocapitalize="off"
                               ng-model="authCtrl.username"
                               type="text"
                               class="form-control"
                               name="username"
                               id="identifier"
                               placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input autocapitalize="off"
                               ng-model="authCtrl.password"
                               type="password"
                               class="form-control"
                               name="password" id="password"
                               placeholder="Password" required>
                    </div>
                    <button id="submit"
                            ng-click="authCtrl.login()"
                            class="btn btn-default">
                      Submit
                    </button>
                    <!-- START form-auth errors -->
                    <!-- END form-auth errors -->
                </form><!-- END form-auth -->
            </div>
            <!-- END auth-register -->
        </div>
        <!-- END row -->
    </div> <!-- END container -->
</div>
