<!-- body -->
<div class="cm-auth">
  <div class="container-fluid">
    <!-- START auth-register -->
    <div class="auth-register" ng-controller="cmAuthCtrl as ctrl">
      <!-- START auth-register-header -->
      <div class="auth-header auth-login-header col-xs-12 col-sm-6">
        <p class="auth-register-links">
          <a href="#/login">Login</a>
        </p>
        <h3 class="">Register</h3>
      </div>
      <!-- END auth-register-header -->

      <!-- START form-auth -->
      <form class="form-auth col-xs-12 col-sm-6"
            name="registerForm"
            ng-submit="ctrl.register(
              registerForm.username.$modelValue,
              registerForm.password.$modelValue,
              registerForm.password2.$modelValue,
              registerForm.fullName.$modelValue,
              registerForm.email.$modelValue)">
        <div class="form-group">
          <input autocapitalize="off"
                 ng-model="ctrl.registerInputs.username"
                 ng-minlength="6"
                 type="text"
                 class="form-control"
                 name="username"
                 id="username"
                 placeholder="Username" required>
        </div>
        <div class="form-group">
          <input autocapitalize="off"
                 ng-model="ctrl.registerInputs.password"
                 ng-minlength="6"
                 type="password"
                 class="form-control"
                 name="password"
                 id="password"
                 placeholder="Password" required>
        </div>
        <div class="form-group">
          <input autocapitalize="off"
                 ng-model="ctrl.registerInputs.password2"
                 ng-minlength="6"
                 type="password"
                 class="form-control"
                 name="password2"
                 id="password2"
                 placeholder="Password Confirm" required>
        </div>
        <div class="form-group">
          <input autocapitalize="off"
                 ng-model="ctrl.registerInputs.email"
                 type="email"
                 class="form-control"
                 name="email"
                 id="email"
                 placeholder="email" required>
        </div>
        <div class="form-group">
          <input autocapitalize="off"
                 ng-model="ctrl.registerInputs.fullName"
                 type="text"
                 class="form-control"
                 name="fullName"
                 id="fullName"
                 placeholder="Full Name">
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" class="btn btn-default">
        </div>
        <!-- START form-auth errors -->
        <div ng-repeat="error in ctrl.formErrors">
          <span class="error">{{error}}</span>
        </div>
        <!-- END form-auth errors -->
      </form><!-- END form-auth -->
    </div>
    <!-- END auth-register  -->

  </div> <!-- END container -->
</div>
