<div class="cm-container">

  <!-- START cm-header-->
  <div id="cm-header" class="row">
    <div id="nginclude-header" ng-include="'../cm/templates/nav/navbar.html'"></div>
  </div><!-- END cm-header-->

  <!-- START cm-content  -->
  <div id="cm-content" class="row">
    <div id="ui-view-content" ui-view></div>
  </div><!-- END cm-content -->

  <!-- START cm-footer -->
  <div id="cm-footer" class="row">
    <div id="ui-view-footer" ui-view="footer"></div>
  </div><!-- END cm-footer -->

</div><!-- END articles-container -->
