<!-- START form-auth -->
<form class="form-auth"
      name="registerForm"
      ng-submit="ctrl.register(
        username,
        password,
        passwordConfirm,
        fullName,
        email,
        image)">
  <div class="form-group">
    <input autocapitalize="off"
           ng-model="username"
           ng-minlength="6"
           type="text"
           class="form-control"
           name="username"
           id="username"
           placeholder="Username" required>
  </div>
  <div class="form-group">
    <input autocapitalize="off"
           ng-model="password"
           ng-minlength="6"
           type="password"
           class="form-control"
           name="password"
           id="password"
           placeholder="Password" required>
  </div>
  <div class="form-group">
    <input autocapitalize="off"
           ng-model="passwordConfirm"
           ng-minlength="6"
           type="password"
           class="form-control"
           name="passwordConfirm"
           id="passwordConfirm"
           placeholder="Password Confirm" required>
  </div>
  <div class="form-group">
    <input autocapitalize="off"
           ng-model="email"
           type="email"
           class="form-control"
           name="email"
           id="email"
           placeholder="email" required>
  </div>
  <div class="form-group">
    <input autocapitalize="off"
           ng-model="fullName"
           type="text"
           class="form-control"
           name="fullName"
           id="fullName"
           placeholder="Full Name">
  </div>
  <div class="form-group">
    <input type="file"
           ngf-select
           ng-model="image"
           name="file"
           accept="image/*"
           ngf-max-size="2MB">
    <!--<img ng-show="registerForm.file.$valid"-->
         <!--ngf-thumbnail="picFile"-->
         <!--class="thumb">-->
    <!--<button ng-click="picFile = null"-->
            <!--ng-show="picFile">Remove</button>-->
    <!--<br>-->
    <!--<button ng-disabled="!registerForm.$valid"-->
            <!--ng-click="ctrl.uploadPic(picFile)">-->
      <!--Submit-->
    <!--</button>-->
  </div>
  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-default">
  </div>
  <!-- START form-auth errors -->
  <div ng-repeat="error in ctrl.formErrors">
    <span class="error">{{error}}</span>
  </div>
  <!-- END form-auth errors -->
</form><!-- END form-auth -->
