<!-- START cm-article-meta -->
<div class="cm-users-media">
  <div class="media">
    <div class="media-left">
      <a ui-sref=".">
        <img class="media-object" src="" alt="image">
      </a>
    </div><!-- END media-left -->
    <div class="media-body">
      <h4 class="media-heading">
        <a ui-sref="index.users.detail.edit({itemId: 'username'})"><span ng-bind="usersDetailCtrl.user.username">Media heading </span></a>
      </h4>
      <div class="media-body-element">
        <a ui-sref="index.users.detail.edit({itemId: 'fullName'})"><span ng-bind="usersDetailCtrl.user.fullName"></span></a>
      </div>
      <div class="media-body-element">
        <a ui-sref="index.users.detail.edit({itemId: 'email'})"><span ng-bind="usersDetailCtrl.user.email"></span></a>
      </div>
      <div>Permissions: <span ng-bind="usersDetailCtrl.user.permissions"></span></div>
      <div><small class="muted"> Created: <span ng-bind="usersDetailCtrl.user.createdDate"></span></small></div>
      <div><small class="muted"> Updated: <span ng-bind="usersDetailCtrl.user.lastModifiedDate"></span></small></div>
    </div><!-- END media -->
  </div><!-- END media-body -->

  <!-- Indicates a dangerous or potentially negative action -->
  <br />
  <button ng-click="usersDetailCtrl.remove(usersDetailCtrl.user.username)"
          type="button"
          class="btn btn-danger">Remove</button>

  <div ui-view>
    <!-- Example of default content. This content will be replace as soon as
         this ui-view is populate with a template -->
    <hr>
    <small class="muted">Click on field to edit.</small>
  </div>

</div><!-- END cm-articles-media -->


