<hr>

<div class="user-detail-edit-switch-container"
     ng-switch on="editCtrl.key">

  <!-- START ng-switch-avatar -->
  <div class="edit-switch" ng-switch-when="avatar">
    <div ng-include="'../cm/components/security/templates/users/users-avatar-edit.html'"></div>
  </div><!-- START ng-switch-avatar -->

  <!-- START ng-switch-default -->
  <div class="edit-switch" ng-switch-default>
    <div ng-include="'../cm/components/security/templates/users/users-item-edit.html'"></div>
  </div><!-- END ng-switch-default -->
</div>
