/**
 * articles.less
 */

.articles-container{

  .articles-nav{
    margin-bottom: 2em;
  }

  .cm-article-list{

    .cm-article-meta{
      margin-bottom: 1em;

      .article-title {
        margin-top: 1em;
      }
    }
  }
}



