<div class="cm-nav">
  <div ng-include="'../cm/templates/nav/navbar.html'"></div>
</div> <!-- END cm-nav -->

<!-- body -->
<!-- START article-list -->
<div class="container-fluid cm-article-list">
  <!-- START cm-article-meta -->
  <div class="cm-article-meta" ng-repeat="article in articleListCtrl.data.content">
    <div article-widget
         article-content="article"
         article-title="{{article.title}}">
    </div>
  </div><!-- END cm-article-meta -->
</div><!-- END article-list -->

<div class="pagination-container">
  <uib-pagination
    ng-change="articleListCtrl.pageChanged()"
    ng-model="articleListCtrl.currentPage"
    total-items="articleListCtrl.totalItems"
    items-per-page="articleListCtrl.itemsPerPage"
    >
  </uib-pagination>
</div> <!-- END pagination-container -->
