<div class="cm-articles-container">

  <!-- START cm-navbar -->
  <div class="cm-navbar">
    <div ng-include="'../cm/templates/nav/navbar.html'"></div>
  </div> <!-- END cm-navbar -->

  <!-- START cm-articles-body -->
  <div class="row cm-articles-status">
    <div ui-view="status"></div>
  </div>

  <div class="row cm-articles-body">
    <div class="cm-articles-sidebar col-xs-3">
      <div ui-view="sidebar"></div>
    </div><!-- END cm-articles-sidebar -->

    <div class="cm-articles-content col-xs-9">
        <div ui-view></div>
    </div><!-- END cm-articles-content -->
  </div><!-- END cm-articles-body -->

</div><!-- END articles-container -->
