<div class="cm-nav">
  <div ng-include="'../cm/templates/nav/navbar.html'"></div>
</div> <!-- END cm-nav -->

<div class="articles-container">

  <div class="articles-nav">
    <div class="container">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: $state.includes('articles')}">
          <a ui-sref="articles.list">Articles</a>
        </li>
        <li ng-class="{active: $state.includes('pages')}">
          <a ui-sref="pages">Pages</a>
        </li>
      </ul>
      <p ui-view="hint" class="navbar-text pull-right">Some Hint</p>
    </div><!-- END container -->
  </div><!-- END articles-nav -->

  <div ui-view></div>
</div><!-- END articles-container -->
