<hr>
<!-- START  form-article-item -->
<form class="form-article-item"
      name="articleItemForm"
      ng-submit="editCtrl.update(articleItemForm.item.$modelValue)">
  <div class="form-group">
    <div ng-switch="editCtrl.key">
      <textarea
        ng-switch-when="description"
        ng-model="editCtrl.item"
        class="form-control"
        rows="4"
        name="item">
      </textarea>
      <input
        ng-switch-default
        ng-model="editCtrl.item"
        type="text"
        class="form-control"
        name="item"/>
    </div>
  </div>
  <div class="form-group">
    <input type="submit" value="Update" class="btn btn-default">
  </div>
  <!-- START form-auth errors -->
  <div ng-repeat="error in ctrl.formErrors">
    <span class="error">{{error}}</span>
  </div>
  <!-- END form-auth errors -->
</form><!-- END form-article-item -->
