
  <div class="pagination-container">
    <uib-pagination
      ng-change="articleListCtrl.pageChanged()"
      ng-model="articleListCtrl.currentPage"
      total-items="articleListCtrl.totalItems"
      items-per-page="articleListCtrl.itemsPerPage">
     </uib-pagination>
  </div> <!-- END pagination-container -->

  <div class="sidebar cm-article-list">
    <ul class="nav nav-sidebar" ng-repeat="article in articleListCtrl.data.content">
      <li ui-sref-active="active">
        <a ng-bind="article.title"
           ui-sref="articles.detail({articleId:article.id})">
        </a>
      </li>
    </ul>
  </div><!-- END article-list -->

