<div class="cm-article-list-container">

  <!--<div class="pagination-container">-->
    <!--<uib-pagination-->
      <!--ng-change="articleListCtrl.pageChanged()"-->
      <!--ng-model="articleListCtrl.currentPage"-->
      <!--total-items="articleListCtrl.totalItems"-->
      <!--items-per-page="articleListCtrl.itemsPerPage"-->
      <!-->
    <!--</uib-pagination>-->
  <!--</div> &lt;!&ndash; END pagination-container &ndash;&gt;-->

  <h2>Article List</h2>

  <div class="sidebar cm-article-list">
    <ul class="nav nav-sidebar" ng-repeat="article in articles">
      <li ui-sref-active="active">
        <a ng-bind="article.title"
           ui-sref="contacts.detail({articleId:article.id})">
        </a>
      </li>
    </ul>
  </div><!-- END article-list -->

</div> <!-- END article-list-view -->
