<!-- START cm-article-meta -->
<div class="cm-articles-media">

  <div class="media">
    <div class="media-left">
      <a ui-sref=".">
        <img class="media-object" src="" alt="image">
      </a>
    </div><!-- END media-left -->
    <div class="media-body">
      <h4 class="media-heading">
        <a ui-sref="articles.detail.edit({itemId: 'title'})"><span ng-bind="articleDetailCtrl.article.title">Media heading </span></a>
      </h4>
      <div class="media-body-element"><span ng-bind="articleDetailCtrl.article.author"></span></div>
      <div class="media-body-element">
        <a ui-sref="articles.detail.edit({itemId: 'description'})"><span ng-bind="articleDetailCtrl.article.description"></span></a>
      </div>
      <div class="media-body-element">
        <a ui-sref="articles.detail.edit({itemId: 'keywords'})"><span ng-bind="articleDetailCtrl.article.keywords"></span></a>
      </div>
      <div><small class="muted"> Created: <span ng-bind="articleDetailCtrl.article.createdDate"></span></small></div>
      <div><small class="muted"> Updated: <span ng-bind="articleDetailCtrl.article.lastModifiedDate"></span></small></div>
    </div><!-- END media -->
  </div><!-- END media-body -->

  <!-- Indicates a dangerous or potentially negative action -->
  <br />
  <button ng-click="articleDetailCtrl.remove(articleDetailCtrl.article.id)"
          type="button"
          class="btn btn-danger">Delete</button>

  <div ui-view>
    <!-- Example of default content. This content will be replace as soon as
         this ui-view is populate with a template -->
    <hr>
    <small class="muted">Click on field to edit.</small>
  </div>

</div><!-- END cm-articles-media -->

