<div class="cm-article-list">
  <div ng-repeat="article in articleListCtrl.data.content">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="" alt="image">
        </a>
      </div><!-- END media-left -->
      <div class="media-body">
        <h4 class="media-body-element"  class="media-heading">
          <a ng-bind="article.title"
             ui-sref="index.articles.detail({articleId:article.id})">
          </a>
        </h4>
      </div><!-- END media-body -->
    </div>
  </div>
</div><!-- END article-list -->

<div class="pagination-container">
  <uib-pagination
    ng-change="articleListCtrl.pageChanged()"
    ng-model="articleListCtrl.currentPage"
    total-items="articleListCtrl.totalItems"
    items-per-page="articleListCtrl.itemsPerPage">
  </uib-pagination>
</div> <!-- END pagination-container -->

