<div class="article-create-view">
  <!-- START form-article -->
  <form class="form-article col-xs-12 col-sm-6"
        name="articleCreateForm"
        ng-submit="articleCreateCtrl.createArticle(
        articleCreateForm.title.$modelValue,
        articleCreateForm.description.$modelValue,
        articleCreateForm.keywords.$modelValue)">
    <div class="form-group">
      <input
        ng-model="articleCreateCtrl.createInputs.title"
        ng-minlength="5"
        type="text"
        class="form-control"
        name="title"
        id="title"
        placeholder="Title"
        required>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">Description</label>
      <textarea
        ng-model="articleCreateCtrl.createInputs.description"
        class="form-control"
        name="description"
        id="description"
        rows="5"></textarea>
    </div>
    <div class="form-group">
      <input
        ng-model="articleCreateCtrl.createInputs.keywords"
        autocapitalize="off"
        type="text"
        class="form-control"
        name="keywords"
        id="keywords"
        placeholder="Keywords">
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-default">
    </div>
    <!-- START form-auth errors -->
    <div ng-repeat="error in ctrl.formErrors">
      <span class="error">{{error}}</span>
    </div>
    <!-- END form-auth errors -->
  </form><!-- END form-article -->

</div> <!-- END article-create-view -->
