<!-- nav -->
<div class="cm-nav">
  <!-- START nav -->
  <div ng-include="'../cm/templates/nav/master.html'"></div>
  <!-- END nav -->
</div>

<!-- body -->
<div class="cm-app">
  <div class="cm-app-home" ng-controller="cmHomeCtrl as ctrl">
    <div class="container-fluid">
      <!-- START row -->
      <div class="row">
        <!-- START article-list -->
        <div id="article-list" >
          <div ng-repeat="article in ctrl.articles">
            <div article-widget
                 article-content="article"
                 article-title="{{article.title}}">
            </div>
          </div>
        </div><!-- END article-list -->
      </div>
      <!-- END row -->
    </div> <!-- END cm-app-home -->
  </div> <!-- END cm-app -->
</div>
