<!-- nav -->
<div class="cm-nav">
  <!-- START nav -->
  <div ng-include="'../cm/templates/nav/master.html'"></div>
  <!-- END nav -->
</div>

<!-- body -->
<div class="cm-app">
  <div class="cm-app-home" ng-controller="cmHomeCtrl as ctrl">
    <div class="container-fluid">
      <!-- START row -->
      <div class="row">
        <h3>Articles</h3>
        <div id="article-list" >
          <a ng-repeat="article in ctrl.articles" href="">
            <div class="article-title" ng-bind="article.title"></div>
          </a>
        </div>
      </div>
      <!-- END row -->
    </div> <!-- END cm-app-home -->
  </div> <!-- END cm-app -->
</div>
