<!-- nav -->
<div class="cm-nav">
  <!-- START nav -->
  <div ng-include="'../cm/templates/nav/master.html'"></div>
  <!-- END nav -->
</div>

<!-- body -->
<div class="cm-app cm-app-home" ng-controller="cmHomeCtrl as ctrl">
  <div class="container-fluid">
    <!-- START row -->
    <div class="row">
      <h3>Articles</h3>
      <ul id="article-list" ng-repeat="article in ctrl.articles">
        <h4>Title: <span ng-bind="article.title"></span></h4>
        <li>Description: <span ng-bind="article.description"></span></li>
        <li>Date: <span ng-bind="article.createdDate"></span></li>
        <br/><br/><br/>
      </ul>
    </div>
    <!-- END row -->
  </div> <!-- END container -->
</div>
